In [2]:
import os
import random
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader
from tqdm import tqdm
import pickle

In [2]:
###############################################################################
# 주어진 결과와 정확히 비교하기 위한 random seed 고정
###############################################################################

seed = 42  # 바꾸지 마시오!
random.seed(seed)
np.random.seed(seed)

In [3]:
base_path = os.path.join(os.curdir, 'data/train/')
data_path = os.path.join(base_path, 'rating.csv')
genre_path = os.path.join(base_path, "genres.tsv")
writer_path = os.path.join(base_path, "writers.tsv")
director_path = os.path.join(base_path, "directors.tsv")

director_path

'./data/train/directors.tsv'

In [40]:
# 평점 데이터
rating_df = pd.read_csv(data_path,index_col = 0)
rating_df.rating = 1
rating_df

           user   item  rating
0            11   4643       1
1            11    170       1
2            11    531       1
3            11    616       1
4            11   2140       1
...         ...    ...     ...
5154466  138493  44022       1
5154467  138493   4958       1
5154468  138493  68319       1
5154469  138493  40819       1
5154470  138493  27311       1

[5154471 rows x 3 columns]

In [48]:
rating_df.user = rating_df.user.astype('category').cat.codes
rating_df

          user   item  rating
0            0   4643       1
1            0    170       1
2            0    531       1
3            0    616       1
4            0   2140       1
...        ...    ...     ...
5154466  31359  44022       1
5154467  31359   4958       1
5154468  31359  68319       1
5154469  31359  40819       1
5154470  31359  27311       1

[5154471 rows x 3 columns]

In [49]:
rating_df.item = rating_df.item.astype('category').cat.codes
rating_df

          user  item  rating
0            0  2505       1
1            0   109       1
2            0   319       1
3            0   368       1
4            0  1183       1
...        ...   ...     ...
5154466  31359  4882       1
5154467  31359  2652       1
5154468  31359  5768       1
5154469  31359  4791       1
5154470  31359  4363       1

[5154471 rows x 3 columns]

In [47]:
assert rating_user_dict == user_dict

In [50]:
def get_popular_item(rating_df):
    df = rating_df.pivot_table(index=['item'], aggfunc='size').sort_values(ascending=True)
    df = df[df > 1000]
    ret = df.index.to_numpy()
    return set(ret.flatten())

popular_item = get_popular_item(rating_df)

{0,
 1,
 4098,
 4099,
 6148,
 2053,
 5,
 4101,
 2056,
 9,
 10,
 4107,
 2060,
 4108,
 6158,
 6159,
 16,
 4113,
 18,
 4115,
 2068,
 20,
 4116,
 2071,
 24,
 2069,
 2067,
 6171,
 28,
 6173,
 6172,
 6175,
 2080,
 33,
 34,
 32,
 31,
 2086,
 41,
 42,
 43,
 2093,
 46,
 6190,
 49,
 53,
 69,
 72,
 2121,
 73,
 6219,
 2124,
 2125,
 15,
 77,
 76,
 87,
 2135,
 2137,
 89,
 2138,
 2140,
 92,
 94,
 6239,
 101,
 103,
 105,
 2156,
 109,
 2157,
 6257,
 116,
 2164,
 2166,
 118,
 2170,
 2176,
 6275,
 133,
 136,
 137,
 2186,
 2187,
 140,
 2192,
 6290,
 2195,
 146,
 149,
 2199,
 2200,
 154,
 2202,
 2204,
 2205,
 6300,
 158,
 6304,
 2208,
 162,
 2211,
 2212,
 165,
 161,
 2217,
 6315,
 6317,
 6318,
 6319,
 174,
 177,
 178,
 179,
 181,
 6327,
 6329,
 185,
 187,
 186,
 191,
 192,
 193,
 194,
 2243,
 4296,
 2249,
 201,
 203,
 6348,
 4301,
 2251,
 207,
 208,
 2257,
 210,
 6352,
 205,
 209,
 2262,
 215,
 6360,
 2264,
 214,
 218,
 220,
 221,
 4321,
 226,
 229,
 230,
 231,
 237,
 239,
 6388,
 249,
 2301,
 2304,
 260,
 261,
 2309,
 263,
 6407,
 2312,
 266,
 6410,
 268,
 267,
 6408,
 6415,
 2314,
 6417,
 273,
 6160,
 2324,
 2320,
 278,
 276,
 281,
 283,
 284,
 6428,
 287,
 291,
 2340,
 2344,
 4393,
 2346,
 299,
 2345,
 300,
 2351,
 4399,
 305,
 2354,
 2355,
 308,
 4405,
 306,
 4407,
 313,
 6460,
 316,
 318,
 2367,
 317,
 4418,
 326,
 2376,
 328,
 2378,
 4427,
 330,
 6477,
 2380,
 2381,
 336,
 337,
 6481,
 338,
 339,
 4437,
 4443,
 350,
 351,
 6496,
 352,
 354,
 355,
 353,
 357,
 358,
 359,
 360,
 356,
 4458,
 363,
 6508,
 4463,
 368,
 4466,
 371,
 4467,
 4469,
 4470,
 2425,
 378,
 4475,
 380,
 2426,
 6521,
 377,
 2445,
 6542,
 400,
 2450,
 403,
 406,
 6552,
 6553,
 410,
 4505,
 6556,
 408,
 413,
 416,
 423,
 6568,
 424,
 4522,
 427,
 428,
 429,
 430,
 431,
 4524,
 4528,
 2479,
 6572,
 436,
 438,
 4536,
 443,
 447,
 2503,
 455,
 2505,
 466,
 467,
 470,
 471,
 6616,
 472,
 6619,
 476,
 477,
 478,
 479,
 480,
 481,
 2530,
 483,
 484,
 482,
 4581,
 487,
 488,
 490,
 2539,
 491,
 493,
 2541,
 495,
 492,
 497,
 500,
 2548,
 4597,
 4608,
 4610,
 519,
 520,
 2568,
 523,
 524,
 4621,
 6673,
 4630,
 4635,
 2591,
 4640,
 547,
 549,
 4646,
 552,
 553,
 6698,
 6699,
 555,
 554,
 558,
 2607,
 6704,
 2606,
 2610,
 4659,
 6708,
 565,
 2613,
 4663,
 4660,
 2614,
 2618,
 4666,
 2616,
 573,
 574,
 575,
 4670,
 2624,
 2619,
 2628,
 580,
 582,
 6727,
 6728,
 4680,
 584,
 4679,
 585,
 589,
 591,
 592,
 593,
 4690,
 594,
 596,
 597,
 598,
 599,
 4695,
 601,
 604,
 6749,
 605,
 606,
 608,
 4703,
 2653,
 4707,
 6756,
 4709,
 614,
 2661,
 612,
 2664,
 2659,
 619,
 621,
 2670,
 2672,
 6770,
 627,
 4724,
 629,
 4726,
 632,
 4729,
 634,
 2683,
 636,
 637,
 2686,
 2687,
 2688,
 4735,
 4736,
 644,
 646,
 647,
 648,
 649,
 650,
 651,
 653,
 2702,
 654,
 4752,
 656,
 658,
 657,
 2708,
 661,
 2710,
 4759,
 664,
 4756,
 666,
 662,
 668,
 669,
 670,
 671,
 672,
 4769,
 674,
 676,
 677,
 678,
 679,
 2728,
 4777,
 681,
 683,
 682,
 2733,
 685,
 687,
 4784,
 689,
 691,
 692,
 4789,
 4787,
 695,
 696,
 697,
 694,
 699,
 700,
 701,
 4791,
 703,
 2752,
 704,
 706,
 707,
 708,
 709,
 4806,
 710,
 4808,
 4809,
 4810,
 2763,
 716,
 714,
 718,
 719,
 2767,
 721,
 722,
 723,
 4820,
 725,
 717,
 2775,
 728,
 729,
 730,
 731,
 2780,
 732,
 734,
 735,
 738,
 739,
 2788,
 740,
 744,
 745,
 2794,
 748,
 750,
 753,
 754,
 755,
 757,
 760,
 763,
 2812,
 765,
 767,
 768,
 769,
 773,
 774,
 775,
 561,
 2821,
 2822,
 562,
 781,
 2829,
 783,
 784,
 782,
 4882,
 787,
 788,
 789,
 786,
 4886,
 792,
 4888,
 4890,
 795,
 2841,
 799,
 4896,
 801,
 802,
 2851,
 804,
 4901,
 4902,
 807,
 808,
 809,
 4906,
 2859,
 2603,
 2852,
 2862,
 4917,
 822,
 2871,
 826,
 4926,
 2879,
 4928,
 833,
 835,
 4933,
 4936,
 4937,
 843,
 4941,
 2894,
 848,
 4947,
 4948,
 852,
 4950,
 854,
 2907,
 4955,
 859,
 862,
 4962,
 867,
 2917,
 869,
 871,
 4968,
 873,
 2922,
 2923,
 876,
 4965,
 870,
 881,
 2930,
 4979,
 4980,
 883,
 4982,
 885,
 4984,
 890,
 4988,
 894,
 899,
 900,
 901,
 2951,
 904,
 2953,
 2955,
 5004,
 5003,
 908,
 911,
 2961,
 914,
 915,
 916,
 918,
 920,
 925,
 5023,
 2976,
 5026,
 931,
 2980,
 5032,
 937,
 938,
 2989,
 941,
 5037,
 2991,
 5038,
 946,
 947,
 943,
 5042,
 5052,
 957,
 3006,
 5055,
 959,
 3010,
 5058,
 5059,
 966,
 5069,
 3022,
 3021,
 5078,
 5081,
 3035,
 988,
 3038,
 3039,
 3041,
 993,
 3048,
 5096,
 1004,
 1005,
 3054,
 3055,
 1007,
 3057,
 3053,
 1011,
 1012,
 3061,
 1015,
 1016,
 3068,
 5117,
 1032,
 1034,
 1039,
 1040,
 1041,
 1042,
 1044,
 3093,
 1047,
 1048,
 1049,
 5147,
 1054,
 1055,
 5162,
 3115,
 1069,
 5169,
 1076,
 1078,
 5175,
 3128,
 1081,
 1082,
 1083,
 1080,
 1085,
 1086,
 1088,
 1089,
 1090,
 5187,
 3142,
 1094,
 1096,
 1097,
 1095,
 1099,
 5195,
 1103,
 5200,
 5202,
 3159,
 3160,
 3162,
 5210,
 1116,
 1114,
 1119,
 1122,
 5218,
 3176,
 1130,
 3179,
 5228,
 1133,
 1132,
 1134,
 5232,
 5233,
 1138,
 1139,
 3181,
 3189,
 3193,
 5242,
 1147,
 3197,
 1150,
 1152,
 3201,
 5250,
 3200,
 1156,
 3206,
 5257,
 1161,
 5261,
 5263,
 1170,
 1171,
 5267,
 5268,
 3222,
 5275,
 5276,
 1182,
 1183,
 5279,
 1187,
 1188,
 5283,
 1191,
 3240,
 1196,
 1197,
 5298,
 1202,
 5301,
 3253,
 1207,
 5302,
 1206,
 5306,
 3255,
 1216,
 3266,
 1219,
 5314,
 1220,
 5322,
 1232,
 5329,
 1233,
 5332,
 5334,
 3289,
 1242,
 3291,
 5340,
 5341,
 5339,
 655,
 1249,
 1252,
 1254,
 3303,
 3305,
 5353,
 5356,
 1260,
 5357,
 1263,
 1264,
 5362,
 1267,
 659,
 1269,
 1274,
 1277,
 5374,
 5375,
 3325,
 1279,
 1281,
 5379,
 3328,
 1284,
 663,
 5385,
 1289,
 5386,
 1292,
 3342,
 5391,
 1299,
 5397,
 3350,
 5399,
 1304,
 5400,
 1301,
 1308,
 1312,
 3361,
 5414,
 3367,
 3373,
 5424,
 1329,
 5425,
 1331,
 1332,
 1333,
 1334,
 1335,
 1339,
 1342,
 1343,
 3392,
 3394,
 5445,
 3397,
 3399,
 3400,
 1352,
 1355,
 1356,
 1358,
 1362,
 5461,
 5466,
 3420,
 3422,
 1376,
 3424,
 5475,
 3428,
 1382,
 1385,
 3433,
 3435,
 1394,
 5490,
 5493,
 5494,
 1399,
 3448,
 1400,
 5508,
 3461,
 1414,
 5514,
 1419,
 1420,
 1421,
 5521,
 5522,
 5523,
 5524,
 3479,
 1435,
 1436,
 1439,
 693,
 1445,
 1448,
 1449,
 1450,
 5547,
 1458,
 1462,
 1466,
 1467,
 5564,
 5566,
 1473,
 5571,
 1478,
 5575,
 1483,
 1484,
 3534,
 5583,
 1489,
 1491,
 3539,
 1493,
 1494,
 1498,
 1499,
 705,
 1501,
 1502,
 1504,
 1505,
 1511,
 3562,
 3563,
 1516,
 5613,
 1517,
 1519,
 3567,
 3570,
 1524,
 3572,
 3574,
 1526,
 1531,
 1532,
 1533,
 712,
 5634,
 713,
 5637,
 5638,
 5636,
 1544,
 1547,
 1551,
 1553,
 5652,
 1559,
 3608,
 3610,
 1568,
 3618,
 5668,
 5669,
 5670,
 5671,
 4790,
 5674,
 5675,
 5676,
 1580,
 3635,
 1589,
 5692,
 1601,
 3653,
 3654,
 1607,
 1609,
 1610,
 2762,
 1612,
 3661,
 3663,
 5712,
 3673,
 3679,
 1633,
 1635,
 1636,
 1637,
 ...}

In [51]:
len(popular_item)

1166

In [240]:
items = set(rating_df.loc[:, 'item'])
user_group_dfs = list(rating_df.groupby('user')['item'])
    
user_neg_dfs = np.array([]).reshape(0, 3)
user_group_dfs

[(11,
  0       4643
  1        170
  2        531
  3        616
  4       2140
         ...
  371    48738
  372     6291
  373    46578
  374     7153
  375     4226
  Name: item, Length: 376, dtype: int64),
 (14,
  376    8961
  377    1396
  378     471
  379    2105
  380    1042
         ...
  551    1282
  552     252
  553    2161
  554    1271
  555     468
  Name: item, Length: 180, dtype: int64),
 (18,
  556     1952
  557     1283
  558     3507
  559     4280
  560    51084
         ...
  628     8254
  629    63062
  630      186
  631    60482
  632    71033
  Name: item, Length: 77, dtype: int64),
 (25,
  633      261
  634       22
  635     2161
  636     3255
  637      372
         ...
  719      337
  720     1732
  721     4027
  722     2692
  723    52319
  Name: item, Length: 91, dtype: int64),
 (31,
  724      260
  725     1196
  726     1210
  727     7153
  728     4993
         ...
  873    53464
  874    58025
  875    56775
  876     7317
  877     5621
  Name: item, Length: 154, dtype: int64),
 (35,
  878      6934
  879      2501
  880      1223
  881      1019
  882      3396
          ...
  1045    33004
  1046     8376
  1047    56587
  1048    27797
  1049     5014
  Name: item, Length: 172, dtype: int64),
 (43,
  1050      261
  1051     3082
  1052     1962
  1053     2881
  1054      531
  1055     2359
  1056      830
  1057     1680
  1058     5013
  1059     2572
  1060     5380
  1061      838
  1062     4014
  1063      356
  1064     1704
  1065     1291
  1066       28
  1067      318
  1068     2918
  1069     3578
  1070      232
  1071    30749
  1072     1278
  1073     8970
  1074     6218
  1075     6942
  1076    62293
  1077     3079
  1078     8943
  1079     4246
  1080     7155
  1081      613
  1082    41571
  1083     4308
  1084     2959
  1085     1198
  1086     6377
  1087      260
  1088     7438
  1089     3793
  1090      296
  1091     6874
  1092      150
  1093     6711
  1094    44191
  1095     6539
  1096     6333
  1097      780
  1098     4306
  1099     7361
  1100     5418
  1101      648
  1102     1923
  1103    32587
  1104     2571
  1105    60069
  1106      595
  1107     2396
  1108     5816
  Name: item, dtype: int64),
 (50,
  1109    7438
  1110    6711
  1111     372
  1112    2145
  1113    1635
          ...
  1191    4886
  1192    1391
  1193     497
  1194    6539
  1195    2692
  Name: item, Length: 87, dtype: int64),
 (58,
  1196      296
  1197      356
  1198      480
  1199      318
  1200      590
          ...
  1509      950
  1510      322
  1511     2474
  1512     1237
  1513    30707
  Name: item, Length: 318, dtype: int64),
 (60,
  1514     2150
  1515      720
  1516     1967
  1517      531
  1518      441
  1519     2085
  1520    71462
  1521     7256
  1522      318
  1523      527
  1524     1193
  1525     6016
  1526     2959
  1527      745
  1528     1148
  1529    79132
  1530     1207
  1531      593
  1532     2324
  1533     2858
  1534     1136
  1535     1197
  1536     4993
  1537     7153
  1538      296
  1539     7361
  1540     1201
  1541     5952
  1542    33358
  1543    26760
  1544    55247
  1545     4312
  1546    40870
  1547    50912
  1548      157
  1549      364
  1550     8645
  1551    36517
  1552     4896
  1553     5816
  1554    81834
  1555    88125
  1556    40815
  1557    69844
  1558    54001
  1559     8368
  1560    71282
  1561     2009
  1562     1073
  1563     7324
  1564    45722
  1565    41566
  Name: item, dtype: int64),
 (61,
  1566     7361
  1567     4878
  1568     1729
  1569     3671
  1570     2080
          ...
  1677     4816
  1678     7346
  1679     8366
  1680    48043
  1681    55820
  Name: item, Length: 116, dtype: int64),
 (65,
  1682     1235
  1683     3107
  1684     3555
  1685     2431
  1686     3910
  1687     1348
  1688     2114
  1689     2138
  1690      356
  1691      318
  1692    63082
  1693    59387
  1694     4973
  1695     7361
  1696     4380
  1697     2692
  1698    79132
  1699     4226
  1700     2959
  1701     1921
  1702     2232
  1703    70286
  1704      541
  1705     1653
  1706     4370
  1707     2528
  1708     5445
  1709    72998
  1710     5502
  1711    44555
  1712      588
  1713      364
  1714    48394
  1715     5608
  1716     5995
  1717     1148
  1718    71462
  1719    76093
  1720     2324
  1721    60069
  1722     2997
  1723    53123
  1724    40870
  1725    33903
  1726     1704
  1727    46578
  1728     3083
  1729    27866
  1730     8874
  1731     5225
  1732    60766
  1733    48082
  1734     1271
  1735     4703
  Name: item, dtype: int64),
 (72,
  1736    1965
  1737    1185
  1738    2528
  1739    1081
  1740    3735
          ...
  1795    2302
  1796    4973
  1797     236
  1798      58
  1799    1094
  Name: item, Length: 64, dtype: int64),
 (77,
  1800      596
  1801     1376
  1802     1375
  1803     2161
  1804     3255
          ...
  1860     2716
  1861      260
  1862    48394
  1863     7153
  1864     5952
  Name: item, Length: 65, dtype: int64),
 (82,
  1865     1147
  1866    53921
  1867     3178
  1868     1687
  1869    31878
          ...
  2066     4226
  2067     1208
  2068     6870
  2069    61236
  2070    89864
  Name: item, Length: 206, dtype: int64),
 (85,
  2071     1029
  2072     2248
  2073     4025
  2074     1042
  2075     2078
          ...
  2127     4406
  2128       17
  2129    88810
  2130     3578
  2131    53123
  Name: item, Length: 61, dtype: int64),
 (90,
  2132    4886
  2133    2321
  2134    1552
  2135    3052
  2136    2804
          ...
  2206    5502
  2207     141
  2208    2700
  2209    3948
  2210    2706
  Name: item, Length: 79, dtype: int64),
 (91,
  2211     8949
  2212     8870
  2213    33004
  2214     2467
  2215     5938
          ...
  2342     5632
  2343     4017
  2344     6957
  2345    42002
  2346     4251
  Name: item, Length: 136, dtype: int64),
 (96,
  2347      2094
  2348      6947
  2349       262
  2350     85414
  2351      4025
           ...
  2619     32596
  2620        47
  2621      4973
  2622    109374
  2623      1265
  Name: item, Length: 277, dtype: int64),
 (98,
  2624     2366
  2625     1591
  2626     4343
  2627      839
  2628     2672
          ...
  2690     4022
  2691    97752
  2692    69844
  2693    54001
  2694     5816
  Name: item, Length: 71, dtype: int64),
 (99,
  2695     4571
  2696     3868
  2697     2379
  2698     4378
  2699     2025
  2700     5110
  2701     8907
  2702    58295
  2703    71535
  2704     2329
  2705    40412
  2706     2959
  2707     7361
  2708      750
  2709     5004
  2710      356
  2711      593
  2712      318
  2713      260
  2714        1
  2715     1222
  2716    68157
  2717     2542
  2718       47
  2719    58559
  2720    70286
  2721     4878
  2722     2788
  2723    27773
  2724     3949
  2725     8874
  2726      778
  2727     2858
  2728     1206
  2729    71106
  2730      296
  2731     1136
  2732     2502
  2733    48780
  2734     4011
  2735     1261
  2736    51255
  2737     1080
  2738    55820
  2739    32587
  2740    60069
  2741     1203
  Name: item, dtype: int64),
 (102,
  2742    1994
  2743    2420
  2744    4571
  2745    1378
  2746    6218
          ...
  2809    1028
  2810     914
  2811     916
  2812    3365
  2813    2396
  Name: item, Length: 72, dtype: int64),
 (116,
  2814    1653
  2815    1485
  2816     163
  2817    1090
  2818    3020
          ...
  3008    1033
  3009    2019
  3010    1672
  3011    1927
  3012    6155
  Name: item, Length: 199, dtype: int64),
 (121,
  3013     2353
  3014      497
  3015      543
  3016     1376
  3017     1673
          ...
  3081      778
  3082    36529
  3083    80693
  3084    69122
  3085    68073
  Name: item, Length: 73, dtype: int64),
 (124,
  3086      342
  3087     1396
  3088     3977
  3089     1552
  3090     3052
          ...
  3270     3252
  3271    32587
  3272    33437
  3273     6300
  3274     3275
  Name: item, Length: 189, dtype: int64),
 (129,
  3275    30810
  3276    66665
  3277    69757
  3278    69122
  3279    58998
          ...
  3373     8641
  3374     4247
  3375     8528
  3376    52952
  3377    80846
  Name: item, Length: 103, dtype: int64),
 (132,
  3378      471
  3379     2657
  3380     4034
  3381      345
  3382     2321
          ...
  3591    33794
  3592    30810
  3593    27706
  3594     8872
  3595     8961
  Name: item, Length: 218, dtype: int64),
 (133,
  3596     3176
  3597     1262
  3598     1292
  3599    64614
  3600     1955
          ...
  3827    80463
  3828    59995
  3829     5963
  3830    64622
  3831     2599
  Name: item, Length: 236, dtype: int64),
 (135,
  3832      158
  3833      596
  3834     1625
  3835     2081
  3836     2006
          ...
  3923     1588
  3924    30825
  3925     8373
  3926     7154
  3927     5620
  Name: item, Length: 96, dtype: int64),
 (136,
  3928      1994
  3929      2087
  3930      1350
  3931      5810
  3932      4023
           ...
  4012     54001
  4013    110102
  4014     84152
  4015     96610
  4016     88129
  Name: item, Length: 89, dtype: int64),
 (147,
  4017     1653
  4018     1380
  4019     1500
  4020     7153
  4021      370
          ...
  4180     1285
  4181    30825
  4182     8865
  4183     1466
  4184     4855
  Name: item, Length: 168, dtype: int64),
 (152,
  4185      508
  4186     2987
  4187     1208
  4188     1917
  4189      750
          ...
  4283     8665
  4284       39
  4285    41566
  4286    35836
  4287     1580
  Name: item, Length: 103, dtype: int64),
 (154,
  4288      912
  4289      223
  4290      111
  4291     1221
  4292      474
          ...
  4458    27266
  4459    48394
  4460    48774
  4461     5225
  4462    49772
  Name: item, Length: 175, dtype: int64),
 (155,
  4463     8961
  4464       29
  4465     2078
  4466     3107
  4467     1245
  4468     2600
  4469    34405
  4470     4052
  4471     3503
  4472     7256
  4473     1732
  4474     7361
  4475     4226
  4476    38061
  4477     4993
  4478     5952
  4479     4886
  4480       50
  4481     4878
  4482     8970
  4483    52281
  4484     7153
  4485     4027
  4486     2502
  4487     1198
  4488      260
  4489     1196
  4490     1200
  4491     4973
  4492     1291
  4493     2571
  4494    48394
  4495     4306
  4496     2762
  4497       32
  4498     1214
  4499     7147
  4500    48774
  4501     1175
  4502     2542
  4503      296
  4504     1394
  4505     1210
  4506     2858
  4507     7323
  4508    48738
  Name: item, dtype: int64),
 (162,
  4509      968
  4510     2140
  4511     2478
  4512     2872
  4513     1411
          ...
  4624    84944
  4625     8370
  4626     2862
  4627     1580
  4628     1365
  Name: item, Length: 120, dtype: int64),
 (163,
  4629     1909
  4630     4370
  4631    54286
  4632      996
  4633    56174
  4634    27904
  4635       13
  4636    49278
  4637    55290
  4638      858
  4639      318
  4640    58559
  4641    44665
  4642    58998
  4643    47099
  4644     5903
  4645    36529
  4646     5954
  4647    54997
  4648      356
  4649     2762
  4650      527
  4651     4226
  4652     6874
  4653    33794
  4654     4995
  4655     2959
  4656     5445
  4657     4886
  4658      344
  4659     4306
  4660    59315
  4661       32
  4662       47
  4663     6711
  4664     7361
  4665     6365
  4666     2858
  4667     1270
  4668     1923
  4669    55820
  4670      364
  4671     2706
  4672    48385
  4673    46578
  4674     1527
  4675    48780
  4676    32587
  Name: item, dtype: int64),
 (168,
  4677     2455
  4678     6016
  4679      180
  4680       29
  4681     2313
          ...
  4771     1252
  4772     4235
  4773    55820
  4774     3730
  4775    72226
  Name: item, Length: 99, dtype: int64),
 (175,
  4776     2302
  4777     1234
  4778      168
  4779      913
  4780      852
  4781     1674
  4782     2770
  4783     1953
  4784     1272
  4785     2915
  4786     2762
  4787      296
  4788      593
  4789      318
  4790     2858
  4791      356
  4792     4306
  4793        1
  4794      592
  4795     6539
  4796      150
  4797    48516
  4798      457
  4799    56367
  4800     2028
  4801     1580
  4802     4963
  4803     4995
  4804      608
  4805      858
  4806     6711
  4807       50
  4808      153
  4809     2571
  4810    58559
  4811    55820
  4812      648
  4813     1721
  4814      736
  4815     1265
  4816      349
  4817     5418
  4818    33166
  4819     6887
  4820     1193
  4821     1266
  4822     1962
  4823     3552
  4824     1302
  4825     3361
  4826     1271
  4827     5970
  4828      919
  4829    33660
  4830     1961
  4831     1784
  4832     6787
  4833     1252
  Name: item, dtype: int64),
 (182,
  4834     2826
  4835     1261
  4836     1378
  4837     3005
  4838     1779
  4839       18
  4840     1835
  4841     2840
  4842     3285
  4843     3593
  4844    85401
  4845    87232
  4846    86852
  4847    86332
  4848    88140
  4849    87298
  4850    86644
  4851    86190
  4852    84772
  4853    87520
  4854    87529
  4855    88129
  4856    88744
  4857    89087
  4858    89190
  4859    90522
  4860    90249
  4861    58559
  4862    53996
  4863    71535
  4864    71691
  4865    57528
  4866    62374
  4867    33162
  4868    73017
  4869    56174
  4870     6378
  4871    54995
  4872    62849
  4873    43921
  4874    27660
  4875    72998
  4876    58295
  4877    33794
  4878    72171
  4879     5010
  4880    54286
  4881     8665
  4882    49272
  Name: item, dtype: int64),
 (189,
  4883     2302
  4884     1639
  4885     4878
  4886     2985
  4887      596
          ...
  5024    44191
  5025    46948
  5026      296
  5027      260
  5028      110
  Name: item, Length: 146, dtype: int64),
 (190,
  5029    2005
  5030    2021
  5031    2058
  5032    1967
  5033    3159
          ...
  5104    1041
  5105    3160
  5106    6870
  5107    4978
  5108    6942
  Name: item, Length: 80, dtype: int64),
 (201,
  5109      720
  5110     3060
  5111     1892
  5112     1078
  5113     3498
          ...
  5187     8367
  5188     5269
  5189     6975
  5190    36276
  5191     1225
  Name: item, Length: 83, dtype: int64),
 (204,
  5192    5991
  5193    4571
  5194    2394
  5195     413
  5196    2134
          ...
  5251     480
  5252     356
  5253     296
  5254     260
  5255       1
  Name: item, Length: 64, dtype: int64),
 (205,
  5256     6365
  5257     2023
  5258     1747
  5259    33794
  5260      475
          ...
  5345        6
  5346    53322
  5347     3252
  5348     3173
  5349    52973
  Name: item, Length: 94, dtype: int64),
 (206,
  5350     8961
  5351     1259
  5352      150
  5353    27808
  5354     1197
          ...
  5463     1918
  5464     2002
  5465      830
  5466      788
  5467        5
  Name: item, Length: 118, dtype: int64),
 (208,
  5468     27790
  5469     31878
  5470     31702
  5471      6797
  5472     33166
           ...
  5831    106920
  5832    106916
  5833    106766
  5834     89759
  5835    106841
  Name: item, Length: 368, dtype: int64),
 (209,
  5836      543
  5837     1358
  5838      785
  5839      246
  5840       31
  5841     8622
  5842     3005
  5843       88
  5844     1620
  5845     3360
  5846      333
  5847    64716
  5848      628
  5849    27882
  5850     3753
  5851     2028
  5852     5989
  5853      356
  5854     3147
  5855    40819
  5856    81932
  5857     2329
  5858      318
  5859     1242
  5860    72641
  5861    49530
  5862     3578
  5863    42730
  5864    69122
  5865     2502
  5866    31225
  5867     4623
  5868    81788
  5869    80939
  5870    79134
  5871     7293
  5872     1777
  5873        1
  5874    81782
  5875    48520
  5876    73321
  5877    72605
  5878     1459
  5879    55247
  5880     7256
  5881    68954
  5882    85881
  5883    89492
  Name: item, dtype: int64),
 (211,
  5884     1517
  5885     5952
  5886      508
  5887     1220
  5888      594
  5889      420
  5890      653
  5891      920
  5892     1407
  5893     5445
  5894      318
  5895      780
  5896     8961
  5897     2028
  5898     6377
  5899    33794
  5900     2858
  5901      296
  5902     2571
  5903      527
  5904     4993
  5905     3578
  5906     8636
  5907      356
  5908      150
  5909     4886
  5910     7438
  5911     5349
  5912     4226
  5913      589
  5914     4995
  5915     1580
  5916     4306
  5917      593
  5918    44191
  5919     6333
  5920     1721
  5921     3996
  5922     3793
  5923     7153
  5924     8360
  5925     6539
  5926     2396
  5927      648
  5928      377
  5929     2762
  5930     2959
  5931     1270
  5932     1097
  5933      858
  5934      364
  Name: item, dtype: int64),
 (213,
  5935     4361
  5936     3450
  5937      203
  5938      535
  5939     3844
          ...
  6001     5816
  6002    69844
  6003    54001
  6004     5464
  6005     4034
  Name: item, Length: 71, dtype: int64),
 (215,
  6006     65188
  6007      2571
  6008       260
  6009      1196
  6010    104272
           ...
  6194      7934
  6195      3504
  6196     67087
  6197      1517
  6198      2011
  Name: item, Length: 193, dtype: int64),
 (218,
  6199     2707
  6200     3362
  6201     2231
  6202     1245
  6203      428
          ...
  6358     3481
  6359    47099
  6360     8966
  6361     8665
  6362    42718
  Name: item, Length: 164, dtype: int64),
 (220,
  6363     8949
  6364     2300
  6365     8914
  6366     8939
  6367     8961
  6368     8781
  6369     1267
  6370     1747
  6371       21
  6372     7323
  6373     5673
  6374     6502
  6375     6975
  6376     5269
  6377     4448
  6378     5135
  6379    27846
  6380     8956
  6381     1034
  6382     2231
  6383      923
  6384     3298
  6385     6618
  6386     2819
  6387     6016
  6388      924
  6389     2301
  6390     5363
  6391     6288
  6392     2359
  6393     8966
  6394     5670
  6395     2706
  6396     4103
  6397     8938
  6398     5329
  6399    27831
  6400     2915
  6401     5500
  6402     3198
  6403      431
  6404     6001
  6405     3735
  6406     1356
  6407    37741
  6408     3471
  6409     3504
  6410     1954
  6411     1254
  6412     3359
  6413     1275
  6414     7256
  6415    68358
  6416    68237
  6417     1527
  6418    70286
  6419      785
  Name: item, dtype: int64),
 (232,
  6420    2959
  6421    2716
  6422    1221
  6423    4306
  6424     410
          ...
  6526     778
  6527     551
  6528    2710
  6529    2174
  6530    1080
  Name: item, Length: 111, dtype: int64),
 (237,
  6531     616
  6532    1244
  6533    1272
  6534    3510
  6535     838
          ...
  6713    1240
  6714    4306
  6715    3578
  6716    1136
  6717    2628
  Name: item, Length: 187, dtype: int64),
 (239,
  6718     596
  6719     158
  6720    1029
  6721     531
  6722    2409
          ...
  6967    6536
  6968    3977
  6969    1380
  6970    3155
  6971    2082
  Name: item, Length: 254, dtype: int64),
 (241,
  6972     306
  6973    1965
  6974    2335
  6975    3267
  6976    3328
          ...
  7093    2730
  7094    7419
  7095    3253
  7096    1249
  7097    3479
  Name: item, Length: 126, dtype: int64),
 (248,
  7098     4006
  7099     2367
  7100     5364
  7101     2571
  7102    86882
          ...
  7253    65216
  7254     7158
  7255     2324
  7256     4011
  7257     7361
  Name: item, Length: 160, dtype: int64),
 (252,
  7258     3421
  7259     1729
  7260     2021
  7261       29
  7262     1921
          ...
  7323     3030
  7324    26729
  7325     1252
  7326     3468
  7327     1203
  Name: item, Length: 70, dtype: int64),
 (254,
  7328    6874
  7329    2858
  7330     296
  7331    6539
  7332     588
          ...
  7419    7323
  7420    8638
  7421     741
  7422    2729
  7423    1084

In [76]:
def get_inference_df(rating_df):
    user_group_dfs = list(rating_df.groupby('user')['item'])
    popular_item = get_popular_item(rating_df)
    dfs = np.array([]).reshape(0, 2)
    user_list = list()
    target_list = list()
    for user, user_seen_list in tqdm(user_group_dfs):

        user_seen_set = set(user_seen_list)
        
        targets = list(popular_item - user_seen_set)

        target_len = len(targets)

        users = [user] * target_len
        
        user_list += users
        target_list += targets

    dfs = np.vstack((user_list,target_list)).T
    inference_df = pd.DataFrame(data=dfs, columns=["user", "item"])
    return inference_df

inf_df = get_inference_df(rating_df)

100%|██████████| 31360/31360 [00:04<00:00, 7502.93it/s]

In [81]:
inf_df.to_csv("inf_df.csv",index=False)

In [243]:
num_negative = 50

for u, user_seen_list in tqdm(user_group_dfs):
        
    #-- User가 시청한 영화 집합
    user_seen_set = set(user_seen_list)
        
    #-- 시청한 영화를 제외한 num_negative개의 영화 선택
    i_user_neg_item = np.random.choice(list(items - user_seen_set), num_negative, replace=False)
        
        #-- negative sample item's rating = 0
    neg_users = np.full(num_negative, u)
    neg_ratings = np.zeros(num_negative)
        
    #-- user u 에 대한 negative sample 결과 생성 : ["neg_user", "neg_item", "neg_rate"]
    neg_results = np.vstack((neg_users, i_user_neg_item, neg_ratings)).T
    user_neg_dfs = np.vstack((user_neg_dfs, neg_results))
    
neg_rating_df = pd.DataFrame(data=user_neg_dfs, columns=["user", "item", "rating"])
rating_df = pd.concat([rating_df, neg_rating_df], axis=0, sort=False)

100%|██████████| 31360/31360 [04:25<00:00, 118.22it/s]

In [244]:
rating_df.to_csv('rating_negative_samples.csv', index= False)

In [248]:
len(rating_df)
rating_df

             user     item  rating
0            11.0   4643.0     1.0
1            11.0    170.0     1.0
2            11.0    531.0     1.0
3            11.0    616.0     1.0
4            11.0   2140.0     1.0
...           ...      ...     ...
1567995  138493.0  39715.0     0.0
1567996  138493.0    718.0     0.0
1567997  138493.0   6436.0     0.0
1567998  138493.0   3189.0     0.0
1567999  138493.0   4339.0     0.0

[6722471 rows x 3 columns]

In [4]:
# 장르 데이터
gener_df = pd.read_csv(genre_path,delimiter="\t")

# 작가 데이터
writer_df = pd.read_csv(writer_path, delimiter="\t")

# 감독 데이터
director_df = pd.read_csv(director_path, delimiter="\t")

In [226]:
writer_df

        item     writer
0       1237  nm0000005
1       5147  nm0000005
2       7327  nm0000005
3       2068  nm0000005
4       7396  nm0000005
...      ...        ...
11301  27397  nm5371819
11302   2987  nm5927607
11303  33463  nm5927607
11304   2987  nm5927608
11305  33463  nm5927608

[11306 rows x 2 columns]

In [5]:
writer_df = writer_df.drop_duplicates(subset=['item'])
writer_np = np.unique(writer_df.writer.to_numpy())
len(writer_np)

2027

In [6]:
gener_df["genre"] = gener_df["genre"].astype("category")
gener_df

         item        genre
0         318        Crime
1         318        Drama
2        2571       Action
3        2571       Sci-Fi
4        2571     Thriller
...       ...          ...
15928  109850        Drama
15929    8605       Action
15930    8605       Comedy
15931    3689       Comedy
15932    8130  Documentary

[15933 rows x 2 columns]

In [7]:
temp = pd.get_dummies(gener_df)
temp["item"]

0           318
1           318
2          2571
3          2571
4          2571
          ...
15928    109850
15929      8605
15930      8605
15931      3689
15932      8130
Name: item, Length: 15933, dtype: int64

In [8]:
df = temp.groupby(by=["item"], as_index = False).agg("sum")

In [9]:
df.set_index('item')
names = ['item'] + list(range(1,19))
print()

df.columns = names

In [10]:
df.sort_values('item')

        item  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18
0          1  0  1  1  1  1  0  0  0  1   0   0   0   0   0   0   0   0   0
1          2  0  1  0  1  0  0  0  0  1   0   0   0   0   0   0   0   0   0
2          3  0  0  0  0  1  0  0  0  0   0   0   0   0   1   0   0   0   0
3          4  0  0  0  0  1  0  0  1  0   0   0   0   0   1   0   0   0   0
4          5  0  0  0  0  1  0  0  0  0   0   0   0   0   0   0   0   0   0
...      ... .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
6802  118700  0  0  0  0  0  0  0  1  0   0   0   0   0   0   0   0   0   0
6803  118900  0  0  0  0  0  0  0  1  0   0   0   0   0   0   0   0   0   0
6804  118997  0  0  0  1  1  0  0  0  1   0   0   1   0   0   0   0   0   0
6805  119141  1  0  0  0  1  0  0  0  0   0   0   0   0   0   0   0   0   0
6806  119145  1  1  0  0  1  1  0  0  0   0   0   0   0   0   0   0   0   0

[6807 rows x 19 columns]

In [11]:
c = df.item.astype('category')
c.cat.categories[6806]

119145

In [143]:
d = df[3].astype('category')
d.cat.categories[0]

0

In [12]:
gener_writer_df = pd.merge(left=df, right=writer_df, how='outer', on='item')

In [13]:
gener_writer_df.writer.max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [14]:
gener_writer_df.writer = gener_writer_df.writer.astype('category').cat.codes

0        285
1       1102
2       1189
3        437
4        994
        ...
6802      -1
6803    1136
6804    1294
6805    1634
6806    1821
Name: writer, Length: 6807, dtype: int16

In [16]:
gener_writer_df.writer

0        285
1       1102
2       1189
3        437
4        994
        ...
6802      -1
6803    1136
6804    1294
6805    1634
6806    1821
Name: writer, Length: 6807, dtype: int16

In [22]:
gener_writer_df[gener_writer_df.writer == -1]

,item,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,writer
24,25,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,-1
29,30,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,-1
37,43,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
62,82,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
64,86,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6791,115231,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-1
6795,116797,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,-1
6798,117176,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,-1
6799,117533,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,-1
6802,118700,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1

In [154]:
unique_writer = np.unique(gener_writer_df.to_numpy)
unique_writer.max()

,item,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,writer
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,-1
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,-1
2,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,-1
3,4,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,-1
4,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6802,118700,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
6803,118900,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
6804,118997,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,-1
6805,119141,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-1
6806,119145,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,-1

In [252]:
tt = pd.merge(left= rating_df, right=gener_writer_df, how='inner', on='item' )
print(len(tt))
tt

6722471

,user,item,rating,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,writer
0,11.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
1,189.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
2,294.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
3,383.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
4,421.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6722466,135123.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722467,135718.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722468,136042.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722469,138115.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722470,138348.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713

In [24]:
gener_writer_df.item = gener_writer_df.item.astype('category').cat.codes

In [25]:
gener_writer_df

,item,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,writer
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,285
1,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1102
2,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1189
3,3,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,437
4,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6802,6802,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
6803,6803,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1136
6804,6804,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1294
6805,6805,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1634
6806,6806,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1821

In [19]:
inf_df = pd.read_csv("inf_df.csv")
inf_df

           user  item
0             0     1
1             0  4098
2             0  4099
3             0  6148
4             0  2053
...         ...   ...
32761673  31359  2035
32761674  31359  2036
32761675  31359  2044
32761676  31359  4093
32761677  31359  4094

[32761678 rows x 2 columns]

In [26]:
inference_df = pd.merge(left= inf_df, right=gener_writer_df, how='inner', on='item' )
inference_df

,user,item,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,writer
0,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
1,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
2,2,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
3,3,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
4,4,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32761673,31352,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761674,31353,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761675,31355,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761676,31356,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761677,31358,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650

In [27]:
inference_df[inference_df.writer == -1]

,user,item,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,writer
56253,0,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56254,1,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56255,2,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56256,3,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56257,4,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31724235,31355,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724236,31356,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724237,31357,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724238,31358,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724239,31359,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1

In [28]:
idx_list = inference_df[inference_df.writer == -1].index
for idx in idx_list:
    inference_df.at[idx,"writer"] = random.randrange(0,2027)

Empty DataFrame
Columns: [user, item, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, writer]
Index: []

[0 rows x 21 columns]

In [29]:
inference_df.to_csv("inference_base.csv",index=False)

In [253]:
idx_list = tt[tt.writer == -1].index
for idx in idx_list:
    tt.at[idx,"writer"] = random.randrange(0,2027)

tt.loc[1122]

user       737.0
item      4643.0
rating       0.0
1            1.0
2            1.0
3            0.0
4            0.0
5            0.0
6            0.0
7            0.0
8            1.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15           1.0
16           0.0
17           0.0
18           0.0
writer     536.0
Name: 1122, dtype: float64

In [1]:
tt.to_csv('rating_gener_writer_df.csv',index=False)

NameError: name 'tt' is not defined

In [30]:
ffm_df = pd.read_csv('rating_gener_writer_df.csv')

In [4]:
ffm_df.user.astype('category').cat.categories

Float64Index([    11.0,     14.0,     18.0,     25.0,     31.0,     35.0,
                  43.0,     50.0,     58.0,     60.0,
              ...
              138459.0, 138461.0, 138470.0, 138471.0, 138472.0, 138473.0,
              138475.0, 138486.0, 138492.0, 138493.0],
             dtype='float64', length=31360)

In [33]:
user_cat = ffm_df.user.astype('category').cat
user_dict = dict(enumerate(user_cat.categories))
# save data
with open('user_dict.pickle','wb') as fw:
    pickle.dump(user_dict, fw)

In [34]:
item_cat = ffm_df.item.astype('category').cat
item_dict = dict(enumerate(item_cat.categories))
# save data
with open('item_dict.pickle','wb') as fw:
    pickle.dump(item_dict, fw)

In [43]:
# load data
with open('user_dict.pickle', 'rb') as fr:
    user_dict = pickle.load(fr)
    # load data
with open('item_dict.pickle', 'rb') as fr:
    item_dict = pickle.load(fr)
print("users :", len(user_dict)) #31360
print("items :", len(item_dict)) #6807

users : 31360
items : 6807

In [12]:
ffm_df

,user,item,rating,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,writer
0,11.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
1,189.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
2,294.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
3,383.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
4,421.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6722466,135123.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722467,135718.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722468,136042.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722469,138115.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722470,138348.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713

### 0.7. FFM 모델에 사용할 데이터셋 만들기

In [31]:
col_len = list() #[31360, 6807, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2027]

for col in ffm_df.columns:
    if col == "rating":
        continue
    category = ffm_df[f"{col}"].astype('category')
    col_len.append(len(ffm_df[f"{col}"].astype('category').cat.categories))
    ffm_df[f"{col}"] = category.cat.codes
    
col_len

[31360, 6807, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2027]

In [14]:
ffm_df

,user,item,rating,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,writer
0,0,2505,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
1,39,2505,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
2,66,2505,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
3,85,2505,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
4,95,2505,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6722466,30636,6630,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722467,30749,6630,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722468,30822,6630,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722469,31265,6630,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722470,31325,6630,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713

In [32]:
ffm_df = ffm_df

train_X, test_X, train_y, test_y = train_test_split(
    ffm_df.loc[:, ffm_df.columns != 'rating'], ffm_df['rating'], test_size=0.2, random_state=seed)
print('학습 데이터 크기:', train_X.shape, train_y.shape)
print('테스트 데이터 크기:', test_X.shape, test_y.shape)

학습 데이터 크기: (5377976, 21) (5377976,)
테스트 데이터 크기: (1344495, 21) (1344495,)

- `task = 'reg'` : 회귀 문제
    - 학습 : MSE를 손실함수로 사용
    - 검증 : MAE 사용


- `task = 'clf'` : 이진 분류 문제
    - 학습 : Cross Entropy를 손실 함수로 사용 ( 모델의 리턴 값이 logit이므로 `nn.BCEWithLogitsLoss()`를 사용 )
    - 검증 : AUC 사용

In [37]:
class FFMLayer(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions 
                        The sum become the entire dimension of input (in sparse feature)
                        The length become the number of fields
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.num_fields = len(field_dims)
        self.input_dim = sum(field_dims) #.to(device)
        self.embedding = nn.ModuleList([
            # FILL HERE : Fill in the places `None` with                                      #
            #             either `factorization_dim`, `self.num_fields`, or `self.input_dim`. #
            nn.Embedding(
                self.input_dim, factor_dim
            ) for _ in range(self.num_fields)
        ])

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
               Each value of variable is an index calculated including the dimensions up to the previous variable.
               for instance, [gender:male, age:20, is_student:True] 
                             -> [1,0, 0,1,0,0,0,0, 0,1] in one-hot encoding
                             -> x = [0,3,9].
        Return
            y: Float tensor of size "(batch_size)"
        '''
        
        xv = [self.embedding[f](x) for f in range(self.num_fields)]
        
        y = list()
        for f in range(self.num_fields):
            for g in range(f + 1, self.num_fields):
                y.append(xv[f][:, g] *  xv[g][:, f])
        y = torch.stack(y, dim=1)
        
        return torch.sum(y, dim=(2,1))

class FieldAwareFM(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.input_dim = sum(field_dims)
        self.encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
        self.linear = nn.Linear(self.input_dim, 1, bias=True) # FILL HERE : Fill in the places `None` #
        self.ffm = FFMLayer(field_dims, factor_dim) # FILL HERE : Fill in the places `None` #
        
    def _initialize_weights(self):
        for m in self.modules():
            if isinstance(m, nn.Linear):
                nn.init.normal_(m.weight, 0, 0.01)
                nn.init.constant_(m.bias, 0)
            elif isinstance(m, nn.Embedding):
                nn.init.xavier_uniform_(m.weight)
            elif isinstance(m, FFMLayer):
                nn.init.normal_(m.v, 0, 0.01)

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
                x_multihot: Multi-hot coding of x. size "(batch_size, self.input_dim)"
        
        Return
            y: Float tensor of size "(batch_size)"
        '''
        dims = torch.tensor(self.input_dim).to(device)
        x = x + x.new_tensor(self.encoding_dims).unsqueeze(0)
        x_multihot = torch.zeros(x.size(0), dims).to(device).scatter_(1, x, 1.)
        
        y = self.linear(x_multihot).squeeze(1) + self.ffm(x) # FILL HERE : Use `self.linear()` and `self.ffm()` #

        return y


def train_loop(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    num_batches = len(dataloader)
    train_loss = 0
    
    for batch, (X, y) in enumerate(dataloader):
        X, y = X.to(device), y.to(device)
        # Compute prediction and loss
        pred = model(X)
        loss = loss_fn(pred, y)
        train_loss += loss.item()

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 1000 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")
    train_loss /= num_batches
    
    return train_loss


def test_loop(dataloader, model, loss_fn, task):
    num_batches = len(dataloader)
    test_loss, y_all, pred_all = 0, list(), list()

    with torch.no_grad():
        for X, y in dataloader:
            X, y = X.to(device), y.to(device)
            pred = model(X)
            test_loss += loss_fn(pred, y).item() / num_batches
            y_all.append(y)
            pred_all.append(pred)
    
    y_all = torch.cat(y_all).cpu()
    pred_all = torch.cat(pred_all).cpu()
    
    if task == 'reg':
        err = abs(pred_all - y_all).type(torch.float).mean().item()
        print(f"Test Error: \n  MAE: {(err):>8f} \n  Avg loss: {test_loss:>8f}")
    else:
        err = roc_auc_score(y_all, torch.sigmoid(pred_all)).item()
        print(f"Test Error: \n  AUC: {err:>8f} \n  Avg loss: {test_loss:>8f}")
    
    return err, test_loss

def train_and_test(train_dataloader, test_dataloader, model, loss_fn, optimizer, epochs, task):
    train_loss, test_err, test_loss = list(), list(), list()
    
    for t in range(epochs):
        print(f"Epoch {t+1}\n-------------------------------")
        train_loss.append(train_loop(train_dataloader, model, loss_fn, optimizer))
        test_result = test_loop(test_dataloader, model, loss_fn, task)
        test_err.append(test_result[0])
        test_loss.append(test_result[1])
        print("-------------------------------\n")
    print("Done!")
    
    return train_loss, test_err, test_loss


# PyTorch의 DataLoader에서 사용할 수 있도록 변환 
train_dataset_ffm = TensorDataset(torch.LongTensor(np.array(train_X)), torch.Tensor(np.array(train_y)))
test_dataset_ffm = TensorDataset(torch.LongTensor(np.array(test_X)), torch.Tensor(np.array(test_y)))

######## Hyperparameter ########

batch_size = 64
data_shuffle = True
task = 'clf'
factorization_dim = 8
epochs = 1
learning_rate = 0.001
gpu_idx = 0

################################
# torch.cuda.empty_cache() # if necessary
torch.manual_seed(seed)
if torch.cuda.is_available():
    torch.cuda.manual_seed_all(seed)
    torch.backends.cudnn.deterministic = True

# cuda setting
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")

train_dataloader_ffm = DataLoader(train_dataset_ffm,num_workers = 4, batch_size=batch_size, shuffle=data_shuffle)
test_dataloader_ffm = DataLoader(test_dataset_ffm,num_workers = 4, batch_size=batch_size, shuffle=data_shuffle)
# train_dataloader_ffm = DataLoader(train_dataset_ffm, batch_size=batch_size, shuffle=data_shuffle)
# test_dataloader_ffm = DataLoader(test_dataset_ffm, batch_size=batch_size, shuffle=data_shuffle)

field_dims = col_len # 각 col의 길이
model = FieldAwareFM(field_dims, factorization_dim).to(device)

loss_fn = nn.MSELoss().to(device) if (task == 'clf') else nn.BCEWithLogitsLoss().to(device)
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate, weight_decay=0.001, amsgrad=True)

train_loss, test_err, test_loss = train_and_test(train_dataloader_ffm, test_dataloader_ffm, 
                                                 model, loss_fn, optimizer, epochs, task)

cuda
Epoch 1
-------------------------------
loss: 1030.102539  [    0/5377976]
loss: 105.327217  [64000/5377976]
loss: 82.347389  [128000/5377976]
loss: 28.503357  [192000/5377976]
loss: 20.612480  [256000/5377976]
loss: 16.333706  [320000/5377976]
loss: 10.996138  [384000/5377976]
loss: 9.602505  [448000/5377976]
loss: 13.287176  [512000/5377976]
loss: 8.214600  [576000/5377976]
loss: 7.492981  [640000/5377976]
loss: 2.553311  [704000/5377976]
loss: 6.406963  [768000/5377976]
loss: 1.968645  [832000/5377976]
loss: 2.047839  [896000/5377976]
loss: 1.574688  [960000/5377976]
loss: 2.384252  [1024000/5377976]
loss: 2.269759  [1088000/5377976]
loss: 1.786258  [1152000/5377976]
loss: 1.434981  [1216000/5377976]
loss: 1.772189  [1280000/5377976]
loss: 1.268059  [1344000/5377976]
loss: 1.151474  [1408000/5377976]
loss: 1.062665  [1472000/5377976]
loss: 1.412100  [1536000/5377976]
loss: 3.220829  [1600000/5377976]
loss: 0.875425  [1664000/5377976]
loss: 0.939457  [1728000/5377976]
loss: 0.778702  [1792000/5377976]
loss: 0.846360  [1856000/5377976]
loss: 0.434294  [1920000/5377976]
loss: 1.192022  [1984000/5377976]
loss: 0.328875  [2048000/5377976]
loss: 0.967933  [2112000/5377976]
loss: 0.852096  [2176000/5377976]
loss: 0.379015  [2240000/5377976]
loss: 0.305627  [2304000/5377976]
loss: 0.479791  [2368000/5377976]
loss: 0.637638  [2432000/5377976]
loss: 0.375202  [2496000/5377976]
loss: 0.497465  [2560000/5377976]
loss: 0.225472  [2624000/5377976]
loss: 0.273980  [2688000/5377976]
loss: 0.574204  [2752000/5377976]
loss: 0.287136  [2816000/5377976]
loss: 0.263118  [2880000/5377976]
loss: 0.599248  [2944000/5377976]
loss: 0.289592  [3008000/5377976]
loss: 0.813993  [3072000/5377976]
loss: 0.428537  [3136000/5377976]
loss: 0.495538  [3200000/5377976]
loss: 0.564752  [3264000/5377976]
loss: 0.330526  [3328000/5377976]
loss: 0.153559  [3392000/5377976]
loss: 0.415159  [3456000/5377976]
loss: 0.204304  [3520000/5377976]
loss: 0.144863  [3584000/5377976]
loss: 0.185602  [3648000/5377976]
loss: 0.423567  [3712000/5377976]
loss: 0.214747  [3776000/5377976]
loss: 0.298665  [3840000/5377976]
loss: 0.203576  [3904000/5377976]
loss: 0.309475  [3968000/5377976]
loss: 0.118853  [4032000/5377976]
loss: 0.288215  [4096000/5377976]
loss: 0.187658  [4160000/5377976]
loss: 0.156384  [4224000/5377976]
loss: 0.123022  [4288000/5377976]
loss: 0.375271  [4352000/5377976]
loss: 0.254482  [4416000/5377976]
loss: 0.281902  [4480000/5377976]
loss: 0.267457  [4544000/5377976]
loss: 0.164143  [4608000/5377976]
loss: 0.384412  [4672000/5377976]
loss: 0.207633  [4736000/5377976]
loss: 0.198936  [4800000/5377976]
loss: 0.175362  [4864000/5377976]
loss: 0.272449  [4928000/5377976]
loss: 0.190385  [4992000/5377976]
loss: 0.191259  [5056000/5377976]
loss: 0.219296  [5120000/5377976]
loss: 0.131946  [5184000/5377976]
loss: 0.214618  [5248000/5377976]
loss: 0.234738  [5312000/5377976]
loss: 0.274769  [5376000/5377976]
Test Error:
  AUC: 0.821128
  Avg loss: 0.180571
-------------------------------

Done!

In [38]:
torch.save(model, "FFM.pth")

### Inference

In [3]:
class FFMLayer(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions 
                        The sum become the entire dimension of input (in sparse feature)
                        The length become the number of fields
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.num_fields = len(field_dims)
        self.input_dim = sum(field_dims) #.to(device)
        self.embedding = nn.ModuleList([
            # FILL HERE : Fill in the places `None` with                                      #
            #             either `factorization_dim`, `self.num_fields`, or `self.input_dim`. #
            nn.Embedding(
                self.input_dim, factor_dim
            ) for _ in range(self.num_fields)
        ])

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
               Each value of variable is an index calculated including the dimensions up to the previous variable.
               for instance, [gender:male, age:20, is_student:True] 
                             -> [1,0, 0,1,0,0,0,0, 0,1] in one-hot encoding
                             -> x = [0,3,9].
        Return
            y: Float tensor of size "(batch_size)"
        '''
        
        xv = [self.embedding[f](x) for f in range(self.num_fields)]
        
        y = list()
        for f in range(self.num_fields):
            for g in range(f + 1, self.num_fields):
                y.append(xv[f][:, g] *  xv[g][:, f])
        y = torch.stack(y, dim=1)
        
        return torch.sum(y, dim=(2,1))

class FieldAwareFM(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.input_dim = sum(field_dims)
        self.encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
        self.linear = nn.Linear(self.input_dim, 1, bias=True) # FILL HERE : Fill in the places `None` #
        self.ffm = FFMLayer(field_dims, factor_dim) # FILL HERE : Fill in the places `None` #
        
    def _initialize_weights(self):
        for m in self.modules():
            if isinstance(m, nn.Linear):
                nn.init.normal_(m.weight, 0, 0.01)
                nn.init.constant_(m.bias, 0)
            elif isinstance(m, nn.Embedding):
                nn.init.xavier_uniform_(m.weight)
            elif isinstance(m, FFMLayer):
                nn.init.normal_(m.v, 0, 0.01)

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
                x_multihot: Multi-hot coding of x. size "(batch_size, self.input_dim)"
        
        Return
            y: Float tensor of size "(batch_size)"
        '''
        dims = torch.tensor(self.input_dim).to(device)
        x = x + x.new_tensor(self.encoding_dims).unsqueeze(0)
        x_multihot = torch.zeros(x.size(0), dims).to(device).scatter_(1, x, 1.)
        
        y = self.linear(x_multihot).squeeze(1) + self.ffm(x) # FILL HERE : Use `self.linear()` and `self.ffm()` #

        return y

- Inference Data Load

In [4]:
inference_df = pd.read_csv("inference_base.csv")

# load data
with open('user_dict.pickle', 'rb') as fr:
    user_dict = pickle.load(fr)

# load data
with open('item_dict.pickle', 'rb') as fr:
    item_dict = pickle.load(fr)
print("users :", len(user_dict)) #31360
print("items :", len(item_dict)) #6807

users : 31360
items : 6807

In [5]:
inference_df.sort_values(by="user",axis = 0,inplace = True)

- DataLoader setting

In [6]:
# cuda setting
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")
print(device)

cuda

In [80]:
batch_size = 2048

inference_dataset = TensorDataset(torch.LongTensor(np.array(inference_df)))
inference_dataloader = DataLoader(inference_dataset,
                                  batch_size=batch_size,
                                  pin_memory=use_cuda,
                                  drop_last=False,
                                  shuffle=False,
                                  num_workers = 4,
                                  )

- Load Model

In [77]:
model = torch.load(f"FFM.pth").to(device)
model.eval()

FieldAwareFM(
  (linear): Linear(in_features=40230, out_features=1, bias=True)
  (ffm): FFMLayer(
    (embedding): ModuleList(
      (0): Embedding(40230, 8)
      (1): Embedding(40230, 8)
      (2): Embedding(40230, 8)
      (3): Embedding(40230, 8)
      (4): Embedding(40230, 8)
      (5): Embedding(40230, 8)
      (6): Embedding(40230, 8)
      (7): Embedding(40230, 8)
      (8): Embedding(40230, 8)
      (9): Embedding(40230, 8)
      (10): Embedding(40230, 8)
      (11): Embedding(40230, 8)
      (12): Embedding(40230, 8)
      (13): Embedding(40230, 8)
      (14): Embedding(40230, 8)
      (15): Embedding(40230, 8)
      (16): Embedding(40230, 8)
      (17): Embedding(40230, 8)
      (18): Embedding(40230, 8)
      (19): Embedding(40230, 8)
      (20): Embedding(40230, 8)
    )
  )
)

In [92]:
user_list = list()
score_list = list()
item_list = list()

with torch.no_grad():
    cnt = 0
    for batch in tqdm(inference_dataloader):
        x = batch[0].to(device) 
        # print ("[DEBUG] model input x-----")
        
        # print ("--------------------------")
        output = model(x) #[B] ///x 에 대한 점수
        #idx = torch.where(output >= 1)[0] # 점수가 1 이상인 index
        
        info = x.cpu()
        #scores = output.index_select(0,idx).cpu().tolist()
        scores = output.cpu().tolist()
        users = info[:,0].tolist()
        items = info[:,1].tolist()

        user_list += users
        item_list += items
        score_list += scores

np_user_list = np.array(user_list)
np_item_list = np.array(item_list)
np_score_list = np.array(score_list)

100%|██████████| 15997/15997 [22:44<00:00, 11.72it/s]

### TOP 10

In [93]:
users = list()
items = list()
for user_code, user_id in tqdm(user_dict.items()):
    u_id = int(user_id)

    idx = np.where(np_user_list == user_code)[0].tolist()
    
    item_score = np_score_list.take(idx) #user code 에 해당하는 item_score
    item_ = np_item_list.take(idx) # user code에 해당하는 item
    top10_idx = np.argpartition(item_score, -10)[-10:] # 상위 10개 index 추출

    top10_item = [int(item_dict[code]) for code in item_.take(top10_idx)] #top 10(item code -> item id)
    user_id = [u_id] * 10

    users += user_id
    items += top10_item

  5%|▌         | 1662/31360 [01:18<23:38, 20.93it/s]

In [88]:
result = np.vstack((users,items)).T

0 11.0

### SAVE submission.csv

In [ ]:
info = pd.DataFrame(result, columns=['user','item'])
info.to_csv("FFM_submission.csv",index=False)

#### Recall@10

In [ ]:
import json

print("testing recall@10...")
# 학습에 사용된 user만 uniq_user에 저장
uniq_user = list(user_dict.values())
print (f"Number of users : {len(uniq_user)}")

with open("/opt/ml/input/workspace/BERT4Rec/data/answers.json", "r") as json_file: #answer.json 경로 지정
    answer = json.load(json_file)

# movielens-20m과 submission을 비교하여 Recall@10 값 계산
submission_df = pd.read_csv(f"submission.csv")
recall_result = []

# 각 유저마다 recall@10 계산하여 list에 저장
for user in tqdm(uniq_user):
    submission_by_user = submission_df[submission_df['user'] == user]['item']

    hit = 0
    for item in submission_by_user:
        if item in answer[str(user)]:
            hit += 1

        recall_result.append(hit / 10)

# 전체 유저의 Recall@10의 평균 출력
print (f"Predicted submission result of Recall@10 = {np.average(recall_result)}")

#### 1.3.4. 학습 곡선 도식화

---

## 2. PyTorch로 FFM 구현하기

In [78]:
x = torch.tensor([[5,1,2]])
field_dims = [10,10,10]
input_dim = sum(field_dims)
x_multihot = torch.zeros(1, input_dim).scatter_(1,x,1.)
x_multihot

tensor([[0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [98]:
np.cumsum(field_dims)[:-1]

array([10, 20])

In [89]:
encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
x_new = x.new_tensor(encoding_dims).unsqueeze(0)
x_new

tensor([[ 0, 10, 20]])

In [87]:
x_temp = x + x_new
x_multihot = torch.zeros(1, input_dim).scatter_(1,x_temp,1.)
x_multihot

tensor([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]])

In [8]:
dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])