# `train_ratings.csv` 로드해서 `MostPopular`  추천 결과 생성하기

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train_df = pd.read_csv('../data/train/train_ratings.csv') # 전체 학습 데이터

## 모든 사용자에게 동일하게 Most Popular 아이템 10개를 추천 결과로 제공

In [3]:
# most popular 10 items
num_users = train_df['user'].nunique()
mp_items = train_df['item'].value_counts()[:10].index.values # predictions
mp_items = np.concatenate([mp_items]*num_users) # same prediction for all users
users = train_df['user'].unique().repeat(10)

test_df = pd.DataFrame(zip(users,mp_items), columns=['user','item'])
test_df.to_csv("output/most_popular_submission.csv", index=False)

In [4]:
test_df

          user  item
0           11  2571
1           11  2959
2           11   296
3           11   318
4           11   356
...        ...   ...
313595  138493  4993
313596  138493  7153
313597  138493  5952
313598  138493   593
313599  138493  2858

[313600 rows x 2 columns]